#features {
  height: 600px;
  background-color: #f7fafd;
  font-family: $common-fonts;
  .container {
    .row {
      .left-col {
        position: relative;

        top: 30px;
        .left-heading {
          h1 {
            font-weight: 400;
            font-size: 28px;
            color: #3b566e;
            letter-spacing: 1.75px;
            height: 45px;
            margin-bottom: 10px;
          }

          .left-text {
            font-weight: 400;
            font-size: 16px;
            color: #6f8ba4;
            line-height: 28px;
            letter-spacing: 1px;

            p {
              color: #6f8ba4;
              margin: 0px 0px 30px;
              font-size: 16px;
            }
          }
        }
        .left-side {
          .row {
            .col-6 {
              margin-top: 10px;

              .active::before {
                background: #585CE9;
                
              }

              a:hover span {
                padding-left: 10px;
              }

              a {
                &:hover::before {
                  background: #585CE9;
                  width: 180px;
                }

                &::before {
                  content: "";

                  background: #F7FAFD;
                  width: 160px;
                  z-index: 3;
                  height: 90px;
                  left: -70px;
                  top: 0px;
                  position: absolute;
                  transform: rotate(60deg);
                  transition: all 0.03s linear;
                }
                overflow: hidden;
                width: 85%;
                text-align: center;
                color: #3b566e;
                display: inline-block;
                height: 40px;
                line-height: 40px;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-radius: 5px;
                background: #fff;
                margin-bottom: 20px;
                font-size: 14px;
                letter-spacing: 0.88px;
                cursor: pointer;
                position: relative;
                text-decoration: none;
              }
              .fa-chevron-right {
                position: relative;
                font-size: x-small;
                bottom: 35px;
                left: 37px;
                z-index: 6;
                color: #3b566e;
              }
            }
          }
        }
      }
      .col-6 {
        .right-side {
          position: relative;
          left: 18%;
          top: 25%;
        }
      }
    }
  }
}
