#parallax-text {
    margin-bottom: 0px;
    margin-top: 10px;
    opacity: 0.8;
  
    .info-parallax-contact {
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      font-weight: 400;
  
      margin-top: 100px;
      p {
        color: #ffffff;
        font-size: 36px;
        font-family: $common-fonts;
        margin-bottom: 10px;
  
        &::before {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0px;
          right: 0px;
          margin: 0px 0px 50px 784px;
          width: 19px;
          height: 2px;
          background: #fff;
          border-radius: 100px;
        }
      }
  
      .aafter::after {
        font-family: FontAwesome;
        content: "\f105";
        margin-left: 10px;
        color: #e5e9f7;
      }
  
      .aafter {
        font-size: 14px;
        font-family: $common-fonts;
        color: #ffffff;
      }
      a {
        color: #e5e9f7;
        font-size: 14px;
        font-family: $common-fonts;
        margin: 0px 0px 0px 10px;
      }
    }
  }