//Colors

$main-color: #585CE9;
$font-color: #6F8BA4;
$hover-color: #4146e6;

//Fonts

$navbar-fonts:"Nunito", sans-serif;
$fonts: "Nunito", sans-serif;
$navbar-fonts-size: 14px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-28: 28px;
$font-size-34: 34px;



