
.blogs {
  padding-top: 100px;
  padding-bottom: 70px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.88px;
  line-height: 28px;
  color: #6f8ba4;

  .blog-list .blog-post-thumb {
    margin-bottom: 30px;
    text-align: center;
    overflow: hidden;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;

    #imgfix_wrapper_layer_0_0 .imgfix_src_img {
      left: -999999px;
      right: -999999px;
      top: -999999px;
      bottom: -999999px;
      z-index: 0;
      width: 731px;
      height: 709px;
      max-width: auto !important;
      min-width: auto !important;
      position: absolute;
      margin: auto;
      transition: all 0.4s;
      transform: scale(1);
    }

    .date {
      position: absolute;
      right: 0px;
      left: 0px;
      bottom: 0px;
      width: 100px;
      height: 30px;
      margin: auto;
      text-align: center;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        z-index: 1;
        background: #000;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        opacity: 0.3;
      }

      strong {
        display: inline-block;
        color: #fff;
        height: 30px;
        line-height: 30px;
        position: relative;
        z-index: 2;
        font-size: 14px;
      }

      span {
        display: inline-block;
        color: #fff;
        height: 30px;
        line-height: 30px;
        position: relative;
        z-index: 2;
        font-size: 14px;
      }
    }
  }

  .post-meta {
    padding-left: 30px;
    padding-right: 30px;

    li {
      display: inline-block;
      margin-right: 15px;
      margin-left: 15px;
      height: 30px;
      line-height: 30px;
      color: #585ce9;
      font-size: 14px;
    }
  }

  h3 {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px !important;
  }

  .text {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
    font-size: 14px;
    color: #6f8ba4;
    letter-spacing: 0.88px;
    line-height: 26px;
    margin-bottom: 15px;
  }

  .btn-primary-line {
    margin: auto;
    margin-bottom: 30px;
    width: 160px;
    margin: auto;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: #585ce9;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    outline: none !important;
    cursor: pointer;
    position: relative;
  }
  .blog-list .blog-post-thumb {
    margin-bottom: 30px;
    overflow: hidden;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
  }

  .blog-post-thumb .img {
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
    position: relative;
    height: 200px;

    .imgfix_top_container {
        height: 400px;
        width: 30%;
      }
    
      .big {
        width: 30%;
      }
    
      .imgfix_top_container {
          height: 400px;
          width: 100%;
      }
  }

  .imgfix_top_container {
    height: 400px;
    width: 60%;
  }

  .big {
    width: 60%;
  }

  .imgfix_top_container {
      height: 400px;
      width: 100%;
  }
}
